services:
  db:
    image: postgres:14.11-alpine
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - PGUSER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - proxynet

  test_db:
    image: postgres:14.1-alpine
    restart: unless-stopped
    environment:
      - PGUSER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    networks:
      - proxynet

  redis:
    image: redis:7.2-alpine
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "6379:6379"
    networks:
      - proxynet
    command: redis-server --save 60 1 --loglevel warning --requirepass redis
    volumes:
      - ./data:/data

  mongo:
    image: mongo:4.4.6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - proxynet

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    networks:
      - proxynet

  backend:
    build:
      context: .
      args:
        INSTALL_COMMUNITY_DEPS: false
      dockerfile: ./src/backend/Dockerfile
    develop:
      watch:
        - action: sync
          path: ./src/backend
          target: /workspace/src/backend
          ignore:
            - __pycache__/
            - alembic/
            - data/
        - action: sync
          path: ./src/community
          target: /workspace/src/community
          ignore:
            - __pycache__/
            - alembic/
            - data/
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - mongo
      - minio
    volumes:
      - ./src/backend:/workspace/src/backend
      # Mount alembic folder to sync migrations
      - ./src/backend/alembic:/workspace/src/backend/alembic
      # Mount configurations
      - ./src/backend/config/secrets.yaml:/workspace/src/backend/config/secrets.yaml
      - ./src/backend/config/configuration.yaml:/workspace/src/backend/config/configuration.yaml
      - ./metrics:/workspace/metrics
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - REDIS_URL=redis://:redis@redis:6379/0
      - CORS_ALLOWED_ORIGINS=http://localhost:4000
      - MONGO_URL=mongodb://mongo:27017
      - BLOB_ENDPOINT_URL=http://minio:9000
      - BLOB_ACCESS_KEY=minioadmin
      - BLOB_SECRET_KEY=minioadmin
      - BLOB_BUCKET_NAME=docu-compare-assets
    networks:
      - proxynet

  frontend:
    build:
      target: dev
      context: ./src/interfaces/coral_web
      dockerfile: Dockerfile
    # Set environment variables directly in the docker-compose file
    environment:
      API_HOSTNAME: http://backend:8000
      NEXT_PUBLIC_API_HOSTNAME: ${NEXT_PUBLIC_API_HOSTNAME}
    restart: always
    networks:
      - proxynet
    ports:
      - 4000:4000
    develop:
      watch:
        - action: sync
          path: ./src/interfaces/coral_web
          target: /app
          ignore:
            - node_modules/

  terrarium:
    image: ghcr.io/cohere-ai/terrarium:latest
    ports:
      - "8080:8080"
    expose:
      - "8080"
    networks:
      - proxynet

volumes:
  db:
    name: cohere_toolkit_db
    driver: local
  mongo_data:
    driver: local
  minio_data:
    driver: local

networks:
  proxynet:
    name: custom_network
